Source: pm.mirko.twitz
Section: AudioVideo
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper,
	       python3,
               meson

Package: pm.mirko.twitz
Architecture: any
Depends: ${python3:Depends},
         ${misc:Depends},
         python3,
         python3-gi,
	 python3-gi-cairo,
         python3-mpv,
         python3-opengl,
	 gir1.2-gtk-3.0,
	 gir1.2-webkit2-4.0,
	 libgstreamer1.0-0,
         libhandy-1-0,
         zlib1g,
         gir1.2-gtk-3.0,
         gir1.2-handy-1,
         gir1.2-notify-0.7,
         libglib2.0-dev,
         libglib2.0-bin,
         ibus-gtk3,
         mpv,
         youtube-dl,
         libmpv1,
	 gstreamer1.0-plugins-base,
	 gstreamer1.0-plugins-good,
	 gstreamer1.0-libav,
	 gstreamer1.0-alsa,
	 gstreamer1.0-pulseaudio
Description: Twitz
 An unofficial and unpretentious Twitch client for Linux
